(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("sim_output/sdram_tb.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "sdram_tb",
                "inst_sdram_ctrl",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "state",
                    id: Wellen((112)),
                ),
                color: None,
                background_color: None,
                display_name: "state [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "ret_state",
                    id: Wellen((110)),
                ),
                color: None,
                background_color: None,
                display_name: "ret_state [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "cmd",
                    id: Wellen((96)),
                ),
                color: None,
                background_color: None,
                display_name: "cmd [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_casn",
                    id: Wellen((45)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_casn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_cke",
                    id: Wellen((35)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_cke",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "i_clk",
                    id: Wellen((28)),
                ),
                color: None,
                background_color: None,
                display_name: "i_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                        ],
                        id: Wellen((1)),
                    ),
                    name: "r_clk",
                    id: Wellen((26)),
                ),
                color: None,
                background_color: None,
                display_name: "r_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_rasn",
                    id: Wellen((41)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_rasn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_csn",
                    id: Wellen((44)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_csn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_wen",
                    id: Wellen((40)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_wen",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "sdram_tb",
                            "inst_sdram_ctrl",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "sdram_casn",
                    id: Wellen((45)),
                ),
                color: None,
                background_color: None,
                display_name: "sdram_casn",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 13,
        viewports: [
            (
                curr_left: (0.09991980531881277),
                curr_right: (0.1001775539009726),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            100237674,
        ])),
        markers: {},
        focused_item: Some((4)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.25),
)